.cms-container {
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
  max-width: 1292px;
}
@media screen and (max-width: 760px) {
  .cms-container {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1252px;
  }
}
