defaults: &defaults
  docker:
    - image: circleci/node:8

version: 2
jobs:
  pre-build:
    working_directory: ~/site
    <<: *defaults
    steps:
      - checkout:
          path: ~/site/
      - attach_workspace:
          at: ~/site/

      - restore_cache:
          key: node-v2-{{ checksum "package.json" }}-{{ arch }}

      - run: npm install

      - save_cache:
          key: node-v2-{{ checksum "package.json" }}-{{ arch }}
          paths:
            - node_modules

      - persist_to_workspace:
          root: ~/site
          paths:
            - node_modules

  build-and-deploy:
    working_directory: ~/site
    <<: *defaults
    steps:
      - checkout:
          path: ~/site/
      - attach_workspace:
          at: ~/site
      - run:
          command: rm -rf static/admin && npm run build && git config --global user.email "$GH_EMAIL" && git config --global user.name "$GH_USERNAME" && git add --force public && git commit -m "Update build" && git subtree split --prefix=public -b temp && git push -f https://$GH_USERNAME:$GH_TOKEN@github.com/$GH_USERNAME/$GH_REPO.git temp:master && git branch -D temp 

workflows:
  version: 2
  deploy:
    jobs:
      - pre-build:
          filters:
            branches:
              only:
                - master
      - build-and-deploy:
          requires:
            - pre-build
          filters:
            branches:
              only:
                - master
