@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

html,
body {
  height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  --primaryColor: #c42b2b;
  --primaryDarkColor: #691515;
  --primaryLightColor: #ad6565;

  --backgroundColor: #ededed;
  --backgroundSecondaryColor: #c17676;

  --fontOnPrimaryColor: #f2f2f2;
  --fontOnBackgroundColor: #333333;
  --fontOnBackgroundSecondaryColor: #f2f2f2;
  --fontSecondaryOnBackgroundSecondaryColor: #ededed;

  --codeBackgroundColor: #474545;
  --codePrimaryColor: #ff6459;
  --codeSecondaryColor: #00bbbb;

  --mobileMenuBackground: var(--backgroundColor);

  background: var(--backgroundColor);
}

html[data-theme='dark'] {
  --primaryColor: #2bbc8a;
  --primaryDarkColor: #1f8b66;
  --primaryLightColor: #7dbaa5;

  --backgroundColor: #1d1f21;
  --backgroundSecondaryColor: #2b2b2b;

  --fontOnPrimaryColor: #333333;
  --fontOnBackgroundColor: #eadede;
  --fontOnBackgroundSecondaryColor: #eadede;
  --fontSecondaryOnBackgroundSecondaryColor: #999999;

  --codeBackgroundColor: #2b2b2b;
  --codePrimaryColor: #2bbc8a;
  --codeSecondaryColor: #e09142;

  --mobileMenuBackground: var(--backgroundColor);

  background: var(--backgroundColor);
}

#themeSwitcherCircle {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 300ms ease-in-out;
  background: var(--primaryDarkColor);
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

html[data-theme='dark'] #themeSwitcherCircle {
  left: 31px;
}

#themeSwitcherCircle::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f185';
  display: block;
  font-size: 20px;
  color: #ffd03c;
  margin-left: -1px;
  font-weight: 900;
}

html[data-theme='dark'] #themeSwitcherCircle::after {
  content: '\f186';
  color: #ddd;
}

body.locked-scroll {
  height: 100vh;
  overflow-y: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

hr {
  background: var(--primaryColor);
}

html,
body {
  background: var(--backgroundColor);
  color: var(--fontOnBackgroundColor);
}

.gatsby-highlight {
  margin-bottom: 1rem;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.35;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: var(--codeBackgroundColor);
  color: white;
}
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: var(--primaryDarkColor);
}
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: var(--primaryDarkColor);
}
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6c6783;
}
.token.punctuation {
  color: #6c6783;
}
.token.namespace {
  opacity: 0.7;
}
.token.tag,
.token.operator,
.token.number {
  color: #e09142;
}
.token.property,
.token.function {
  color: var(--codeSecondaryColor);
}
.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #eeebff;
}
code.language-javascript,
.token.attr-name {
  color: var(--codeSecondaryColor);
}
code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: var(--codePrimaryColor);
}
.token.placeholder,
.token.variable {
  color: var(--codePrimaryColor);
}
.token.deleted {
  text-decoration: line-through;
}
.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none;
}
.token.italic {
  font-style: italic;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.important {
  color: var(--codeSecondaryColor);
}
.token.entity {
  cursor: help;
}
pre > code.highlight {
  outline: 0.4em solid #8a75f5;
  outline-offset: 0.4em;
}
.line-numbers .line-numbers-rows {
  border-right-color: #2c2937;
}
.line-numbers-rows > span:before {
  color: #3c3949;
}
.line-highlight {
  background: rgba(224, 145, 66, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(70%, rgba(224, 145, 66, 0.2)),
    to(rgba(224, 145, 66, 0))
  );
  background: linear-gradient(
    to right,
    rgba(224, 145, 66, 0.2) 70%,
    rgba(224, 145, 66, 0)
  );
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 1.75rem !important;
  }

  h2 {
    font-size: 1.42671rem !important;
  }
}

.gatsby-image-outer-wrapper {
  height: 100%;
}

.remark-anchor {
  margin-left: 0;
  text-decoration: none;
}
