.blog-post-content {
  font-size: 1rem;
  line-height: 1.5;
}

.blog-post-content h2:before {
  color: var(--primaryColor);
}

.blog-post-content p,
h2 {
  margin-bottom: 1rem;
}
.blog-post-content a {
  color: var(--primaryColor);
}

@media screen and (max-width: 760px) {
  .blog-post-content {
    font-size: 1.1rem;
  }
}

.blog-post-title {
  color: var(--fontOnBackgroundColor);
  margin: 1rem 0;
  width: 80%;
}

.blog-post-header {
  position: relative;
}

.blog-post-divider {
  margin: 1rem 0;
}

.blog-post-tags span {
  display: inline-block;
  padding: 5px 10px;
  font-size: 0.8rem;
  background: var(--primaryColor);
  color: var(--fontOnPrimaryColor);
  margin-right: 7.5px;
}

.blog-post-date {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: var(--primaryColor);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  color: var(--fontOnPrimaryColor);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.blog-post-date .day {
  font-size: 1.2rem;
}

.blog-post-date .month {
  font-size: 0.6rem;
  text-transform: uppercase;
}
